/* Dynamic input labels */
label.css-qrbaxs.effi0qh3{
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;

}

/* Slider end numbers */
div.css-1inwz65{
    font-style: italic;
    font-size: 16px;
    font-family: Arial;
}

/* Container Border */
div.css-1n76uvr.e1tzin5v0 div.css-1n76uvr.e1tzin5v0{
    border-radius: 25px;
    border: 2px solid #716b6b;
    padding: 20px;
    width: 800px;
}